.modal-body {
  padding-bottom: 20px;
  font-family: 'Merienda One', cursive;
}

.modal-list {
  max-height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-title {
  font-size: 2.5rem;
  font-weight: 300;
}

.modal-total-price {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cart-buttons button {
  margin-left: 15px;
  width: 120px;
  height: 40px;
  border-radius: 8px;
}

.close {
  background-color: #6a7073;
  color: white;
}

.order-success {
  height: 200px;
}

.order-success p {
  color: green;
  font-size: 3rem;
}

.error {
  color: rgba(255, 0, 0, 0.76);
  font-size: 1rem;
}

.http-error {
  color: rgba(255, 0, 0, 0.76);
  font-size: 2.5rem;
  margin-top: 20px;
  text-align: center;
};